@model DeveloperGlossary.Models.Glossary

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<hr />
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form asp-action="Create" style="display:block">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Term" class="control-label"></label>
                <input asp-for="Term" class="form-control" />
                <span asp-validation-for="Term" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Language" class="control-label"></label>
                <input asp-for="Language" class="form-control" />
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Syntax" class="control-label"></label>
                <input asp-for="Syntax" class="form-control" />
                <span asp-validation-for="Syntax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Definition" class="control-label"></label>
                <textarea asp-for="Definition" class="form-control" style="height: 200px"></textarea>
                <span asp-validation-for="Definition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default button" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style="color:#F57904; font-weight:600">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
