@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This glossary has been created for use by any developer within Stockport 
    Metropolitan Borough Council.</p>
<p>Any developer can add, edit, or delete an entry. Please try and keep definitions
    clear and concise, where possible using language a non-programmer can understand.</p>
<h3>Guidelines for use:</h3>
<ul>
    <li>The only field that can be left empty is <strong>Syntax</strong></li>
    <li>If a <strong>Term</strong> is used in multiple languages, an entry should be 
    created for each language with an example of the <b>Syntax</b> for that language</li>
    <li><strong>Language</strong> should only ever have one language listed</li>
</ul>

