@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<address>
    Stockport Metropolitan Borough Council<br />
    Stopford House<br />
    Stockport<br />
    SK1 3XE<br />
</address>

<address>
    <strong>Phone support:</strong> 07718 329524<br />
    <strong>Email support:</strong> <a href="mailto:lydia.gray@stockport.gov.uk">lydia.gray@stockport.gov.uk</a><br />
</address>
